@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #000;
    background-color: #fff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input:not([type="button"]):not([type="submit"]):not([type="reset"]):not(
        [type="checkbox"]
    ),
textarea {
    @apply border-blue-500 shadow-blue-500 w-full rounded-lg border p-2 transition-all duration-300 ease-in-out outline-none hover:shadow focus:shadow;
}

select {
    @apply border-blue-500 accent-amber-300 shadow-blue-500 w-full rounded-lg border p-2 transition-all duration-300 ease-in-out outline-none hover:shadow focus:shadow;
}

input[type="checkbox"] {
    @apply accent-blue-500 shadow-blue-500 h-4 w-4 transition-all duration-300 ease-in-out outline-none hover:shadow focus:shadow;
}

.error-text {
    @apply pl-1 text-sm text-red-600;
}

button:not(:disabled),
a {
    @apply transition-all duration-300 ease-in-out;
}
